body{
    background-color: #232323;
}
.square{
    background-color:purple ;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.33%;
   float: left;
    border-radius: 15%;
    transition: background-color 0.3s;
}
#container{
    max-width: 600px;
    margin: 20px auto;
}
h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    font-weight: normal;
    margin: 0;
    font-family: "Book Antiqua";
    /*for capitalizing text*/
    text-transform: uppercase;
    /*for spacing between lines*/
    line-height: 1.1;
    padding: 10px;

}
button{
    border: none;
    background: white;
    font-weight: normal;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    font-weight: 700;
    font-size: inherit;
    letter-spacing: 1px;
    font-family: "Book Antiqua";
    transition: all 0.3s;
}
button:hover{
    color: white;
    background-color: steelblue;

}
#msgDisplay{
    /*to permanently occupy space even if text is not there*/
    display:inline-block; ;
    width: 200px;
}
#rgb{
    font-size: 200%;
}
#strip{
    background-color: white;
    height: 30px;
    color: black;
    text-align: center;
}
.selected{
    color: white;
    background-color: steelblue;
}
